<h1>PIPES <small>Angular</small></h1>
<hr/>

<div class="row">
  <div class="col">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Variable</th>
          <th>Pipe</th>
          <th>Salida</th>
        </tr>
      </thead>
      <tbody>
        <!-- PONE TODO EN MAYUSCULAS -->
        <tr>
          <td>{{ nombre }}</td>
          <td> Uppercase</td>
          <td>{{ nombre | uppercase }}</td>
        </tr>
        <!-- PONE TODO EN MINUSCULAS -->
        <tr>
          <td>{{ nombre }}</td>
          <td> Lowercase</td>
          <td>{{ nombre | lowercase }}</td>
        </tr>
        <!-- CORTA LAS PALABRAS -->
        <tr>
          <td>{{ nombre }}</td>
          <td> Slice:3</td>
          <td>{{ nombre | slice:3 }}</td>
        </tr>
        <!-- CORTA LAS PALABRAS (DICIENDOLE DE DONDE HASTA DONDE QUIERO CORTAR) -->
        <tr>
          <td>{{ nombre }}</td>
          <td> Slice:0:3</td>
          <td>{{ nombre | slice:0:3 }}</td>
        </tr>
        <!-- TAMBIEN FUNCIONA CON UN ARREGLO -->
        <tr>
          <td>{{ arreglo }}</td>
          <td> Slice:1:5</td>
          <td>{{ arreglo | slice:1:5 }}</td>
        </tr>
        <!-- REDONDEA SOLO VISUALMENTE -->
        <tr>
          <td>{{ PI }}</td>
          <td> Number</td>
          <td>{{ PI | number }}</td>
        </tr>
        <!-- MUESTRA SOLO EL ENTERO -->
        <tr>
          <td>{{ PI }}</td>
          <td> Number:'1.0-0'</td>
          <td>{{ PI | number:'1.0-0' }}</td>
        </tr>
        <!-- CON ESTO ANGULAR TE MUESTRA EL ENTERO PERO EN LA PARTE DECIMAL QUE VAYA DEL 0 HASTA EL 2 -->
        <tr>
          <td>{{ PI }}</td>
          <td> Number:'.0-2'</td>
          <td>{{ PI | number:'.0-2' }}</td>
        </tr>
        <!-- MUESTRA COMO PORCENTAJE -->
        <tr>
          <td>{{ porcentaje }}</td>
          <td> Percent</td>
          <td>{{ porcentaje | percent }}</td>
        </tr>
        <!-- TAMBIEN RECIBE EL FORMATO QUE SE NECESITE -->
        <tr>
          <td>{{ porcentaje }}</td>
          <td> Percent'2.2-2'</td>
          <td>{{ porcentaje | percent:'2.2-2' }}</td>
        </tr>
        <!-- MUESTRA COMO DINERO -->
        <tr>
          <td>{{ salario }}</td>
          <td> Currency</td>
          <td>{{ salario | currency }}</td>
        </tr>
        <!-- PARA CAMBIAR EL CURRENCY CODE -->
        <tr>
          <td>{{ salario }}</td>
          <td> Currency:'EUR'</td>
          <td>{{ salario | currency:'EUR' }}</td>
        </tr>
        <!-- SINO QUIERO LOS DECIMALES  -->
        <tr>
          <td>{{ salario }}</td>
          <td> Currency:'ARS'</td>
          <td>{{ salario | currency:'ARS':'symbol-narrow':'.0-0' }}</td>
        </tr>
      </tbody>
    </table>

    <h3>Slice</h3>
    <table>
      <ul>
        <li *ngFor = "let item of arreglo | slice:5:20">{{ item }}</li>
      </ul>
    </table>

  </div>
</div>